# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
.pnpm-store/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: MacOS folder attributes
.DS_Store

# Optional: Windows folder attributes
Thumbs.db
ehthumbs.db

# Optional: VS Code settings
.vscode/ 